@red: #690000;
@yellow:#cfcc06;
@verde:#0c750d;
@white: #ffffff;

.margenes(@top:0px,@bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.padding(@top:0px,@right:0px,@bottom:0px,@left:0px){
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}


.jumbotron {
    background-color:@red;
    color: @white;
    .margenes(55px,0px);
    }
  
  .inicio, h2 {
    text-align: center; }
  
  footer {
    background-color: @red;
    .padding(10px, 10px, 0, 10px);
    color: @white;
    .margenes(10px,0px);
 }
  
  footer a {
    color: @white; }
  
  .card-futbol {
    flex: 1 150px;
    .margenes(10px,0px);
 }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .bi {
    .padding(0px, 10px, 4px, 0px);
    color: @yellow;
}
  
  .links {
    color: @white;
    text-decoration: none; }
  
  .img-fluid {
    width: 100%;
    height: 600px;
 }
  
  .tab-content {
    .padding(5px, 0, 0, 0);
     }
  
  .btn-link {
    text-decoration: none;
 }
  