.jumbotron {
  background-color: #690000;
  color: #ffffff;
  margin-top: 55px;
  margin-bottom: 0px;
}
.inicio,
h2 {
  text-align: center;
}
footer {
  background-color: #690000;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 0px;
}
footer a {
  color: #ffffff;
}
.card-futbol {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.bi {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 0px;
  color: #cfcc06;
}
.links {
  color: #ffffff;
  text-decoration: none;
}
.img-fluid {
  width: 100%;
  height: 600px;
}
.tab-content {
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.btn-link {
  text-decoration: none;
}
