.jumbotron{
    background-color: rgb(1, 90, 8);
    color: rgb(221, 220, 220);
    margin-top: 55px;
}

footer { 
    padding: 10px 10px 0 10px; 
    background-color: rgb(1, 90, 8); 
    color: #fff; 
    margin-bottom: 0px;
    margin-top: 10px;
}
  
  
footer a{
  color: #fff;
}
  .card-futbol {
    flex: 1 150px;
    padding: 2px 2px 2px 2px;
    margin-top: 10px;
  }

  .btn-reserva{
    width: 100%;
  }

  .footer-address-icon {
   padding-right:10px ;
   color: aqua;
   padding-bottom: 4px;
  }
 