.jumbotron{
    background-color: rgb(1, 90, 8);
    color: rgb(221, 220, 220);
    margin-top: 55px;
}
.inicio,h2{
  text-align:center;
}

footer {
  background-color: rgb(1, 90, 8); 
  padding: 10px 10px 0 10px; 
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0px;
}
  
  
footer a{
  color: #fff;
}
  .card-futbol {
    flex: 1 150px;
    margin-top: 10px;
  }

  .btn-reserva{
    width: 100%;
    border-radius: 0px;
  }

  .footer-address-icon {
   padding-right:10px ;
   color: aqua;
   padding-bottom: 4px;
  }
 .img-fluid{
  width: 100%;
  height: 600px;
 }